@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #ececec;
    background: url(bg.png);
    background-size: 100%;
    font-family: 'Roboto', sans-serif;
}

.app {
    margin: 200px auto;
    padding: 0;
    width: 300px;
    background-color: #fff;
    border-radius: 15px;
    outline: 1px solid #192a56;
}